@import "../scss/colors";

.root {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 18px;
  right: 18px;
  border-radius: 100%;
  font-size: 24px;
  color: $color-fill-color-text-on-accent-primary;
  background-color: $color-fill-color-accent-primary;
  outline: none;
  border: none;
  width: 56px;
  height: 56px;
  box-shadow: $effect-style-shadow-flyout;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
