$color-fill-color-text-primary: rgba(0,0,0,0.896);
$color-fill-color-text-secondary: rgba(0,0,0,0.606);
$color-fill-color-text-tertiary: rgba(0,0,0,0.446);
$color-fill-color-text-disabled: rgba(0,0,0,0.361);
$color-fill-color-accent-text-disabled: rgba(0,0,0,0.361);
$color-fill-color-text-on-accent-primary: rgba(255,255,255,1);
$color-fill-color-text-on-accent-secondary: rgba(255,255,255,0.700);
$color-fill-color-text-on-accent-disabled: rgba(255,255,255,1);
$color-fill-color-text-on-accent-selected-text: rgba(255,255,255,1);
$color-fill-color-control-transparent: rgba(255,255,255,0.000);
$color-fill-color-control-default: rgba(255,255,255,0.700);
$color-fill-color-control-secondary: rgba(249,249,249,0.500);
$color-fill-color-control-tertiary: rgba(249,249,249,0.300);
$color-fill-color-control-input-active: rgba(255,255,255,1);
$color-fill-color-control-disabled: rgba(249,249,249,0.300);
$color-fill-color-control-strong-default: rgba(0,0,0,0.446);
$color-fill-color-control-strong-disabled: rgba(0,0,0,0.317);
$color-fill-color-subtle-transparent: rgba(255,255,255,0.000);
$color-fill-color-subtle-secondary: rgba(0,0,0,0.037);
$color-fill-color-subtle-tertiary: rgba(0,0,0,0.024);
$color-fill-color-subtle-disabled: rgba(0,0,0,0.000);
$color-fill-color-control-solid-default: rgba(255,255,255,1);
$color-fill-color-control-alt-transparent: rgba(255,255,255,0.000);
$color-fill-color-control-alt-secondary: rgba(0,0,0,0.024);
$color-fill-color-control-alt-tertiary: rgba(0,0,0,0.058);
$color-fill-color-control-alt-quarternary: rgba(0,0,0,0.092);
$color-fill-color-control-alt-disabled: rgba(255,255,255,0.000);
$color-fill-color-accent-primary: rgba(0, 103, 192, 1);
$color-fill-color-accent-secondary: rgba(0, 103, 192, 0.90);
$color-fill-color-accent-tertiary: rgba(0, 103, 192, 0.80);
$color-fill-color-accent-disabled: rgba(0,0,0,0.217);
$color-fill-color-system-critical: rgba(196,43,28,1);
$color-fill-color-system-success: rgba(15,123,15,1);
$color-fill-color-system-attention: rgba(0,95,183,1);
$color-fill-color-system-caution: rgba(157,93,0,1);
$color-fill-color-system-attention-background: rgba(246,246,246,0.500);
$color-fill-color-system-success-background: rgba(223,246,221,1);
$color-fill-color-system-caution-background: rgba(255,244,206,1);
$color-fill-color-system-critical-background: rgba(253,231,233,1);
$color-fill-color-system-neutral: rgba(0,0,0,0.446);
$color-fill-color-system-neutral-background: rgba(0,0,0,0.024);
$color-fill-color-system-solid-neutral: rgba(138,138,138,1);
$color-fill-color-system-solid-attention-background: rgba(247,247,247,1);
$color-fill-color-system-solid-neutral-background: rgba(243,243,243,1);
$color-fill-color-control-on-image-default: rgba(255,255,255,0.790);
$color-fill-color-control-on-image-secondary: rgba(243,243,243,1);
$color-fill-color-control-on-image-tertiary: rgba(235,235,235,1);
$color-fill-color-control-on-image-disabled: rgba(255,255,255,0.000);
$color-stroke-color-control-stroke-default: rgba(0,0,0,0.058);
$color-stroke-color-control-stroke-secondary: rgba(0,0,0,0.162);
$color-stroke-color-control-stroke-on-accent-default: rgba(255,255,255,0.080);
$color-stroke-color-control-stroke-on-accent-secondary: rgba(0,0,0,0.400);
$color-stroke-color-control-stroke-on-accent-tertiary: rgba(0,0,0,0.217);
$color-stroke-color-control-stroke-on-accent-disabled: rgba(0,0,0,0.058);
$color-stroke-color-control-stroke-for-strong-fill-when-on-image: rgba(255,255,255,0.350);
$color-stroke-color-control-strong-stroke-default: rgba(0,0,0,0.446);
$color-stroke-color-control-strong-stroke-disabled: rgba(0,0,0,0.217);
$color-stroke-color-card-stroke-default: rgba(0,0,0,0.15);
$color-stroke-color-card-stroke-default-solid: rgba(235,235,235,1);
$color-stroke-color-divider-stroke-default: rgba(0,0,0,0.080);
$color-stroke-color-surface-stroke-default: rgba(117,117,117,0.400);
$color-stroke-color-surface-stroke-flyout: rgba(0,0,0,0.058);
$color-stroke-color-focus-stroke-outer: rgba(0,0,0,0.896);
$color-stroke-color-focus-stroke-inner: rgba(255,255,255,1);
$color-background-fill-color-card-background-default: rgba(255,255,255,0.700);
$color-background-fill-color-card-background-secondary: rgba(246,246,246,0.500);
$color-background-fill-color-smoke-default: rgba(0,0,0,0.300);
$color-background-fill-color-layer-default: rgba(255,255,255,0.500);
$color-background-fill-color-layer-alt: rgba(255,255,255,1);
$color-background-fill-color-solid-background-base: rgba(243,243,243,1);
$color-background-fill-color-solid-background-secondary: rgba(238,238,238,1);
$color-background-fill-color-solid-background-tertiary: rgba(249,249,249,1);
$color-background-fill-color-solid-background-quarternary: rgba(255,255,255,1);
$effect-style-shadow-card-rest: 0.00px 2.00px 4.00px rgba(0,0,0,0.040);
$effect-style-shadow-card-hover: 0.00px 2.00px 4.00px rgba(0,0,0,0.100);
$effect-style-shadow-tooltip: 0.00px 4.00px 8.00px rgba(0,0,0,0.140);
$effect-style-shadow-flyout: 0.00px 8.00px 16.00px rgba(0,0,0,0.140);
$effect-style-shadow-dialog: 0.00px 2.00px 21.00px rgba(0,0,0,0.147);
$effect-style-shell-shadows-inactive-window: 0.00px 2.00px 10.67px rgba(0,0,0,0.147);
$effect-style-shell-shadows-active-window: 0.00px 2.00px 21.00px rgba(0,0,0,0.220);